/* Brand New Blog CSS */

* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
	overflow-x: auto;
}

body {
	font-family: Verdana, Arial, sans-serif;
	color: #222222;
	background-color: #ffffff;
	font-size: 80%;
}

div {
	border: 0;
}

a {
	color: #980905;
	text-decoration: underline;
}

h1 {
	font-weight: bold;
	font-size: 180%;
	padding: 0px 0px 10px 0px;
}

h2 {
	font-weight: bold;
	font-size: 120%;
	padding: 0px 0px 10px 0px;
}

h3 {
	font-weight: bold;
	font-size: 100%;
	/* line-height: 200%; */
	padding: 0px 0px 10px 0px;
}

p {
	padding: 0px 0px 10px 0px;
	line-height: 110%;
	text-align: justify;
}

#wrapper {
	width: 960px;
	margin: 0px auto 0px auto;
}

#header {
	width: 960px;
	height: 40px;
}

#header_title {
	width: 960px;
	height: 30px;
	float: left;
	padding: 10px 0px 0px 0px;
}

#navigation {
	width: 960px;
	height: 30px;
}

#navigation_links {
	width: 960px;
	height: 25px;
	float: left;
	padding: 5px 0px 0px 0px;
}

#main {
	width: 960px;
	margin: 0px 0px 0px 0px;
}

#main_content {
	width: 640px;
	float: left;
	padding: 10px 0px 0px 0px;
}


#main_sidebar {
	width: 280px;
	float: right;
	padding: 0px 0px 0px 0px;
}

#footer {
	width: 960px;
	height: 40px;
	clear: both;
}

#footer_content {
	width: 640px;
	height: 30px;
	float: left;
	padding: 10px 0px 0px 0px;
	border-top: 1px dotted #222222;
}

.posts {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.widgets, .widgets_title, .widgets_box {
	width: 280px;
	padding: 10px 0px 10px 0px;
}

.widgets_title {
	height: 20px;
	padding: 20px 0px 0px 0px;
	border-bottom: 1px dotted #222222;
}

.widgets_box {
	border-bottom: 1px dotted #222222;
	margin: 0px 0px 10px 0px;
}