<!-- <div id="search">
	<h2>Busca:</h2>
</div> -->

<!--<div id="tags" class="widgets_title">
	<h2>Tags:</h2>
</div>
<div class="widgets_box">
	<p><%= join_tags(sidebar).html_safe %></p>
</div>-->

<div id="archive" class="widgets_title">
	<h2>Arquivo:</h2>
</div>
<div class="widgets_box">
	<ul>
		<li><%= link_to_unless_current '2011', blog_path(:year => '2011') %></li>
		<li><%= link_to_unless_current '2010', blog_path(:year => '2010') %></li>
	</ul>
</div>

<!--<div id="feeds" class="widgets">
	<h3>Feed</h3>
</div>-->