<!-- <div id="search">
	<h2>Busca:</h2>
</div> -->

<div id="tags" class="widgets_title">
	<h3>Tags:</h3>
</div>
<div class="widgets_box">
	<p>agile, books, css, javascript, jquery, oop, rails, review, rspec, ruby, xp</p>
</div>

<div id="archive" class="widgets_title">
	<h3>Arquivo:</h3>
</div>
<div class="widgets_box">
	<ul style="padding: 0px 0px 10px 20px;">
		<li>2011</li>
		<li>2010</li>
	</ul>
</div>

<div id="feeds" class="widgets">
	<h3>Feed</h3>
</div>