<div id="contato" class="posts">
	
	<h2 id="title_contato">Contato</h2>
	
	<p>Email: <%= mail_to 'brandnewcode@gmail.com', 
				   'Mauricio M. de Almeida', 
				   :encode => 'javascript' %></p>
	
	<p>Twitter: <%= link_to '@brandnewcode', 
							'https://twitter.com/#!/brandnewcode' %></p>
	
</div>