<div id="contato" class="posts">
	
	<h2 id="title_contato">Contato</h2>
	
	<p>Email: <%= mail_to 'brandnewcode@gmail.com', 
				   'Mauricio M. de Almeida', 
				   :encode => 'javascript' %></p>
	
	<p><a href="http://www.twitter.com/brandnewcode">
	   <img src="http://twitter-badges.s3.amazonaws.com/follow_me-b.png" alt="Follow @brandnewcode on Twitter"/></a></p>
							
	<p><a href="http://br.linkedin.com/in/mauriciomdea" >
	   <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Mauricio M. de Almeida's profile on LinkedIn"></a></p>
	
</div>