<div id="quem" class="posts">
	
	<h2 id="title_quem">Quem?</h2>
	
	<p>Ol&aacute;, meu nome &eacute; Mauricio e sou desenvolvedor focado em 
	aplica&ccedil;&otilde;es web desde 1998. Sim, desde os tempos em que se 
	usavam tabelas para diagrama&ccedil;&atilde;o HTML e javascript era feito 
	"na unha".</p>
	
	<p>De l&aacute; para c&aacute; muita coisa mudou, de CGI-Lua passei por 
	Coldfusion, ASP, PHP e Java at&eacute; me apaixonar por Ruby (com Rails), 
	jQuery e HTML 5.</p>
	
	<p>Neste blog pretendo escrever sobre minhas experi&ecirc;ncias com 
	desenvolvimento &aacute;gil de aplica&ccedil;&otilde;es web e meus estudos 
	sobre desenvolvimento de apps para mobiles.</p>
	
	<p style="font-style: italic;">“Mauricio is a clever developer who is always looking to improve his 
	skills by reading and listening. A must have for every company.”</p>
	<p>Bruno Mentges de Carvalho, Systems Developer, Orga Systems</p>
	
</div>